<dom-module id="card-content">
<style>
  #content {
    @apply(--layout-horizontal);
    @apply(--layout-center);
    overflow: hidden;
    background: transparent;
  }

  #header-logo {
    width: 100%;
    height: auto;
    display: block;
    user-select: none;
  }

  #body {
    margin-left: 20px;
  }

  #body h1 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px
  }

  #body div {
    font-size: 57px;
    font-weight: 200;
  }
</style>
<template>
  <div id="content">
    <div id="header">
      <img id="header-logo" src="yeoman-standing.png">
    </div>
    <div id="body">
      <h1>'Allo, 'Allo!</h1>
      <div>{{message}}</div>
    </div>
  </div>
</template>
<script>
  Polymer({
    is: 'card-content',
    behaviors: [
      Polymer.NeonSharedElementAnimatableBehavior
    ],
    properties: {
      message: {
        type: String,
        value: "Post cards"
      },
      sharedElements: {
        value: function() {
          return {
            'hero': this.$.header
          }
        }
      },
      animationConfig: {
        value: function() {
          return {
            'entry': [{
              name: 'hero-animation',
              id: 'hero',
              toPage: this
            }],
            'exit': [{
              name: 'hero-animation',
              id: 'hero',
              fromPage: this
            }, {
              node: this.$.body,
              name: 'fade-out-animation',
              animation: 'fade-out-animation'
            }]
          }
        }
      }
    }
  });
</script>
</dom-module>
